<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CPSA_web</display-name>
  <description></description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.ResourceManagerListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile1</servlet-name>
    <servlet-class>servlet.UploadFileServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile1</servlet-name>
    <url-pattern>/UploadFile1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile2</servlet-name>
    <servlet-class>servlet.UploadFileServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile2</servlet-name>
    <url-pattern>/UploadFile2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile3</servlet-name>
    <servlet-class>servlet.UploadFileServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile3</servlet-name>
    <url-pattern>/UploadFile3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadMode</servlet-name>
    <servlet-class>servlet.UploadModeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMode</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>servlet.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailTo</servlet-name>
    <servlet-class>servlet.MailToServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailTo</servlet-name>
    <url-pattern>/MailTo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnalyzeResultServlet</servlet-name>
    <servlet-class>servlet.AnalyzeResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeResultServlet</servlet-name>
    <url-pattern>/AnalyzeResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addGroup</servlet-name>
    <servlet-class>servlet.addGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addGroup</servlet-name>
    <url-pattern>/addGroup</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Encoder</filter-name>
    <filter-class>filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>newcharset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoder</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>filter.UserFilter</filter-class>
    <init-param>
      <param-name>backurl</param-name>
      <param-value>login.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/analyzeResult.jsp</url-pattern>
    <url-pattern>/head.jsp</url-pattern>
    <url-pattern>/left.jsp</url-pattern>
    <url-pattern>/user_modify.jsp</url-pattern>
    <url-pattern>/upload.jsp</url-pattern>
    <url-pattern>/submitList.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFileter</filter-name>
    <filter-class>filter.AdminFileter</filter-class>
    <init-param>
      <param-name>backurl</param-name>
      <param-value>../index.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AdminFileter</filter-name>
    <url-pattern>/adminPage/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorThrowable.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>ProjectDeleteServlet</servlet-name>
    <servlet-class>servlet.ProjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDeleteServlet</servlet-name>
    <url-pattern>/ProjectDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
</web-app>