GlobalVarSizeAnalyzer On
DivideByTwosExponentAnalyzer On
FunctionCallAnalyzer Off
BadMemOperationCallAnalyzer Off
IfToSwitchAnalyzer On
AssignToConstantAnalyzer On
ForLoopToZeroAnalyzer Off
SqrtAnalyzer On
LoopDivideAnalyzer On
LocalVarSizeAnalyzer On
MultiplyByTwosExponentAnalyzer On
RealDivisionAnalyzer On
MemApplyAnalyzer On
ForLoopCombineAnalyzer Off
InitializeArrayByForLoopAnalyzer On
FunctionAsLoopVarAnalyzer Off
StructSizeAnalyzer On
BitNotExprAnalyzer On
StringCopyAnalyzer On
FunctionCodeSizeAnalyzer On
GeAndLeCondAnalyzer On
IfToIfelseAnalyzer Off
ReducibleIfAnalyzer On
ConditionInLoopAnalyzer On
FindSameFunctionAnalyzer On
FloatTriCallAnalyzer Off
FunctionParameterAnalyzer On
MultiConditionAnalyzer On
StructPrmsAnalyzer On
CalcMemAnalyzer On
