GlobalVarSizeAnalyzer Off
DivideByTwosExponentAnalyzer Off
FunctionCallAnalyzer Off
BadMemOperationCallAnalyzer Off
IfToSwitchAnalyzer Off
AssignToConstantAnalyzer Off
ForLoopToZeroAnalyzer Off
SqrtAnalyzer Off
LoopDivideAnalyzer Off
LocalVarSizeAnalyzer Off
MultiplyByTwosExponentAnalyzer Off
RealDivisionAnalyzer Off
MemApplyAnalyzer Off
ForLoopCombineAnalyzer Off
InitializeArrayByForLoopAnalyzer Off
FunctionAsLoopVarAnalyzer Off
StructSizeAnalyzer Off
BitNotExprAnalyzer Off
StringCopyAnalyzer Off
FunctionCodeSizeAnalyzer Off
GeAndLeCondAnalyzer Off
IfToIfelseAnalyzer Off
ReducibleIfAnalyzer Off
ConditionInLoopAnalyzer Off
FindSameFunctionAnalyzer Off
FloatTriCallAnalyzer On
FunctionParameterAnalyzer Off
MultiConditionAnalyzer Off
StructPrmsAnalyzer Off
CalcMemAnalyzer Off
