GlobalVarSizeAnalyzer Off
DivideByTwosExponentAnalyzer On
FunctionCallAnalyzer On
BadMemOperationCallAnalyzer On
IfToSwitchAnalyzer On
AssignToConstantAnalyzer On
ForLoopToZeroAnalyzer On
SqrtAnalyzer On
LoopDivideAnalyzer On
LocalVarSizeAnalyzer On
MultiplyByTwosExponentAnalyzer On
RealDivisionAnalyzer On
MemApplyAnalyzer On
ForLoopCombineAnalyzer On
InitializeArrayByForLoopAnalyzer On
FunctionAsLoopVarAnalyzer On
StructSizeAnalyzer On
BitNotExprAnalyzer On
StringCopyAnalyzer On
FunctionCodeSizeAnalyzer On
GeAndLeCondAnalyzer On
IfToIfelseAnalyzer On
ReducibleIfAnalyzer On
ConditionInLoopAnalyzer On
FindSameFunctionAnalyzer On
FloatTriCallAnalyzer On
FunctionParameterAnalyzer On
MultiConditionAnalyzer On
StructPrmsAnalyzer On
