<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Web System Configurations</comment>
	<!-- Database Configuration -->
	<entry key="database_ip">localhost</entry>
	<entry key="database_port">3306</entry>
	<entry key="jdbc_driver_name">com.mysql.jdbc.Driver</entry>
	<entry key="pool_driver_name">org.apache.commons.dbcp.PoolingDriver</entry>
	<entry key="pool_name">connectPool</entry>
	<entry key="database_schema">huawei</entry>
	<entry key="db_user">huawei</entry>
	<entry key="db_password">huawei</entry>
	<entry key="characterEncoding">utf-8</entry>
	<entry key="useUnicode">true</entry>
	<entry key="max_active_num">10</entry>
	<entry key="max_idle_num">5</entry>
	<entry key="max_wait_num">100</entry>

	<!-- Mail Configuration -->
	<entry key="server_host">smtp.163.com</entry>
	<entry key="server_port">25</entry>
	<entry key="mail_user">kiddlee_zj</entry>
	<entry key="mail_password">19890505kiddlee</entry>
	<entry key="from_address">kiddlee_zj@163.com</entry>

	<!-- path Configuration -->
	<entry key="test_path">/root/plugin/yy/plugin-dev/test</entry>
	<entry key="run_path">/root/plugin/yy/plugin-dev/run.sh</entry>

	<!-- Site Configuration -->
	<entry key="site_url">localhost:8080/huawei</entry>
</properties>