@CHARSET "UTF-8";

a {
	text-decoration: none;
}

.showtext {
	cursor: hand;
	cursor: pointer;
}

.detailcontent {
	background: #ffffff;
	display: none;
}

div#directory {
	text-aligh: left;
}

div#container {
	width: 100%;
}

div#header {
	text-align: center;
}

div#filename {
	background-color: #1e90ff;
	float: left;
	width: 60%;
}

div#error_num {
	background-color: #1e90ff;
	float: right;
	width: 20%;
}

div#content {
	border-top: 20px solid white;
}

div#file {
	float: left;
	background-color: #ffff99;
	width: 60%;
}

div#error {
	float: right;
	background-color: #98fb98;
	width: 20%;
}

div#DetailEleList {
	background-color: #ffffff;
}

div#footer {
	background-color: #1e90ff;
	clear: both;
	text-align: center;
}

div#h1 {
	text-align: right;
}