body {
	margin: 0 auto;
	text-align: center;
	min-width: 760px;
	background: #e6e6e6;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0px 5px;
	color: #666666;
	letter-spacing: 4px;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
	background: #e6e6e6;
}

#bodyDiv {
	width: 924px;
	margin: 0 auto;
	
	text-align: left;
	background: #eefaec;
}

#header {
	width: 924px;
	height: 132px;
	background: #ffffff;
}

#sidebar {
	margin: 60px 0 0 0;
	width: 170px;
	height: 560px;
	float: right;
	background: #7FB0C8;
	border-width: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#sidebar li {
	padding-left: 20px;
	padding-right: 20px;
}

#content {
	margin: 2px;
	width: 740px;
	float: left;
	padding-top: 20px;
}

#footer {
	clear: both;
	background: #eefaec;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a:link {
	color: #00688b;
	text-decoration: none;
}

a:active {
	color: #7FB0C8;
}

a:visited {
	color: #7FB0C8;
}

a:hover {
	color: #646464;
}


h2 {
	font-size: 16px;
	margin: 10px 0px 5px;
	color: #666666;
	text-align: center;
}

h3 {
	font-size: 14px;
	margin: 10px 0px 5px;
	color: #666666;
	text-align: center;
}

TABLE.Listing TD {
	BORDER-BOTTOM: #e6e6e6 1px solid
}

TABLE.Listing TD {
	PADDING-RIGHT: 12px;
	PADDING-LEFT: 12px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	TEXT-ALIGN: left
}

TABLE.Listing TH {
	PADDING-RIGHT: 12px;
	PADDING-LEFT: 12px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	TEXT-ALIGN: center
}

TABLE.Listing CAPTION {
	PADDING-RIGHT: 12px;
	PADDING-LEFT: 12px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	TEXT-ALIGN: left
}

TABLE.Listing {
	MARGIN: 0px 0px 8px;
	WIDTH: 92%;
	BORDER-BOTTOM: #6b86b3 3px solid
}

TABLE.Listing TR {
	BACKGROUND: #f5f5f5;
	height: 20px;
}

TABLE.Listing caption {
	font-weight: bold;
	padding: 6px 0px;
	color: #3d580b;
	font-size: 20px;
}

TABLE.Listing TH {
	FONT-WEIGHT: bold;
	background: #ccc url(theadbg.gif) left center;
	BORDER-BOTTOM: #6b86b3 1px solid
}

TABLE.Listing TD.Header {
	FONT-WEIGHT: bold;
	BORDER-BOTTOM: #6b86b3 1px solid BACKGROUND:  #ffffff;
}

TABLE.Listing TR.Header TD {
	FONT-WEIGHT: bold;
	BACKGROUND: #ffffff;
	BORDER-BOTTOM: #6b86b3 1px solid
}

TABLE.Listing TR.Alt {
	BACKGROUND: #ffffff
}

span.mouseover {
	width: 16px;
	hight: 16px;
	font-size: 16px;
	border: #6b86b3 1px solid;
}

span.mouseout {
	width: 12px;
	hight: 12px;
	font-size: 12px;
	border: #6b86b3 1px dashed;
}

.feedbackShow {
	visibility: visible;
}

.feedbackHide {
	visibility: hidden;
}

.button {
	background-color: #7FB0C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00688b),
		to(#7FB0C8) );
	background-image: -webkit-linear-gradient(top, #00688b, #7FB0C8);
	background-image: -moz-linear-gradient(top, #00688b, #7FB0C8);
	background-image: -ms-linear-gradient(top, #00688b, #7FB0C8);
	background-image: -o-linear-gradient(top, #00688b, #7FB0C8);
	background-image: linear-gradient(top, #00688b, #7FB0C8);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3)
		inset;
	border-width: 1px;
	border-style: solid;
	border-color: #336699 #336699 #336699 #336699;
	padding: 0;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #336699;
}