body {
	margin: 0 auto;
	min-width: 760px;
	background: #e6e6e6;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0px 5px;
	color: #666666;
	letter-spacing: 4px;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
	background: #e6e6e6;
}

a:link {
	color: #00688b;
	text-decoration: none;
}

a:active {
	color: #7FB0C8;
}

a:visited {
	color: #7FB0C8;
}

a:hover {
	color: #646464;
}

legend {
	color : #7FB0c8;
}


input {
	background-color: #7FB0C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00688b),
		to(#7FB0C8) );
	background-image: -webkit-linear-gradient(top, #00688b, #7FB0C8);
	background-image: -moz-linear-gradient(top, #00688b, #7FB0C8);
	background-image: -ms-linear-gradient(top, #00688b, #7FB0C8);
	background-image: -o-linear-gradient(top, #00688b, #7FB0C8);
	background-image: linear-gradient(top, #00688b, #7FB0C8);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3)
		inset;
	border-width: 1px;
	border-style: solid;
	border-color: #336699 #336699 #336699 #336699;
	padding: 0;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #336699;
}